---
layout: page
title: Jahkobian
permalink: /
---

<!-- Slider Start -->
<section id="slider">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-2">
        <div class="block">
          <h1 class="animated fadeInUp">Under Construction</h1>
          <p class="animated fadeInUp">Future home of trying out new things and showcasing what I've been up to . . . including this webpage.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Service Start -->
<a name="services"></a>
<section id="service">
  <div class="container">
    <div class="row">
      <div class="section-title">
        <h2>Paralax</h2>
        <!-- <p></p> -->
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-md">
        <div class="service-item">
          <i class="icon ion-laptop"></i>
          <h4>Icon1</h4>
          <p>stuff</p>
        </div>
      </div>
      <div class="col-sm-6 col-md">
        <div class="service-item">
          <i class="ion-android-people"></i>
          <h4>Icon 2</h4>
          <p>other stuff</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Call to action Start -->
<section id="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h2>Zoom zoom</h2>
          <h4>Vroom!</u></h4>
          <a class="btn btn-default btn-call-to-action" href="{{ site.baseurl }}" >Contact</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="feature">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        {% for post in site.posts limit:1 %}
        {% if post.video.size > 0 %}
        <div class="video_container">
          <iframe  src="{{ site.baseurl}}{{post.video}}" frameborder="0" allowfullscreen="true"></iframe>
        </div>
        {% endif %}
        {% endfor %}
      </div>
      <div class="col-md-6">
        <h2>What's New?</h2>
        {% for post in site.posts limit:1 %}
          <div>
            <h3>{{ post.title }}</h3>
            {% if post.subtitle.size > 0 %}
              <h4>{{ post.subtitle }}</h4>
            {% endif %}
            <p class="post-date">
              {{ post.date | date_to_long_string }}
            </p>
            <p>
              {{ post.content | strip_html | truncatewords: 25 }}
            </p>
          </div>
          <a href="{{ post.url | prepend: site.baseurl }}" class="btn btn-view-works">Read More</a>
        {% endfor %}
      </div>
    </div>
  </div>
  </section>

<!-- Wrapper Start -->
<a name="about"></a>
<section id="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-12">
        <div class="block">
          <div class="section-title">
            <h2>Who Is Me?</h2>
            <p>That is a good question.</p>
          </div>
          <h3>Cliff Hangar . . . Hanger?</h3> 
          <p style="padding-top: 0px;"><b>Anonymous</b> - Interesting things to say here</p> 
    
        </div>
      </div><!-- .col-md-8 close -->
      <div class="col-md-4 col-sm-12">
        <div class="block">
          <img src="">
        </div>
      </div><!-- .col-md-4   close -->
    </div>
  </div>
</section>

<!-- Content Start -->
<section id="testimonial">
  <div class="container">
    <div class="row">
      <div class="section-title text-center">
        <h2>What Clients Are Saying</h2>
        <p>. . . and some stats just for fun!</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        {% if site.data.funfacts.size > 0 %}
        <div class="block">
          {% for ff in site.data.funfacts %}
          <ul class="counter-box clearfix">
            <li>
              <div class="block">
                <i class="{{ ff.icon }}"></i>
                <h4 class="counter">{{ ff.counter }}</h4>
                <span>{{ ff.text }}</span>
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}
      </div>
      <div class="col-md-6">
        {% if site.data.testimonials.size > 0 %}
        <div class="testimonial-carousel">
          <div id="testimonial-slider" class="owl-carousel">
            {% for tm in site.data.testimonials %}
            <div>
                <img src="img/cotation.png" alt="IMG">
                <p>{{ tm.testimonial }}</p>
                <div class="user">
                  <img src="{{ tm.image }}" alt="People">
                  <p><span>{{ tm.name }}</span> {{ tm.title }}</p>
                </div>
            </div>
            {% endfor %}
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</section>
