---
layout: page
---

<div class="post">
  <!-- Wrapper Start -->
  <section id="intro" style="border: 1px dotted #ddd;">
    <div class="container">
      <div class="row">
        <div>
          <div class="block">
            <h1>{{ page.title }}</h1>
            <div class="post-info-wrapper">
              <p class="italic">By <span class="bold">{{ page.author }}</span> on <span class="bold">{{ page.date | date: "%B %-d, %Y" }}</span></p>
            </div>
            <hr />
            <p>{{ content }}</p>
          </div>
        </div><!-- .col-md-7 close -->
      </div>
    </div>
  </section>
</div>

<p class="container center-text">
       
</p>
<p class="center-text" style="padding: 30px;">
  <a href="http://feeds.feedburner.com/InTutionTalk"><i class="fa fa-rss-square" style="font-size: 20px;"></i></a>
  <a href="https://feedburner.google.com/fb/a/mailverify?uri=InTutionTalk&amp;loc=en_US"><i class="fa fa-envelope" style="font-size: 20px;"></i></a>
  <br>
  <a href="{{ site.baseurl }}/blog">Back to blog</a>
</p>

